.about_the_club
    padding-top: 50px
    padding-bottom: 100px
    text-align: center
    &-first-paragraf
        width: 90%
        @extend %base-text-paragraf
        color: $dark-purple-color
        margin-top: 30px
    &-second-paragraf
        width: 80%
        margin: 0 auto
        margin-top: 35px
        .block-alert-success
            padding: 13px 8px 5px 8px
            p
                @extend %base-text-paragraf-smal
        img
            height: 191px
    &-tree-paragraf
        width: 90%
        margin: 0 auto
        margin-top: 35px
        p
            @extend %base-text-paragraf
