.magazines
    @extend %base-block-padding
    @extend %base_bg_fon

    &-new
        margin-top: 50px
        &-text
            img
                margin: 5px 10px
                @extend %shadow
                
            h5 
                margin-top: 15px
                color: $purple-color
                font-size: 22px
            p 
                font-size: 18px

    &-slider
        display: flex
        justify-content: space-around
        align-items: center
        .item
            display: inline-block
            align-self: center
            img
                width: 235px
                height: 176px
