.my-raiting
    padding: 30px 20px
    &-block-user
        min-height: 300px

        &-header
            padding: 15px 10px

        &-body
            border-top: 1px solid $grey-color
            padding: 10px 5px
            .table
                td 
                    text-align: center
                    span
                        color: $green-color
                        &:hover
                            cursor: pointer