.my_groups
    &-studs
        .card-abon
            .pay_month
                background-color: $grey-color
                
            .pay_month.wait
                background-color: #ffffff
                &:hover
                    cursor: pointer

            .pay_month.active
                background-color: $yellow-color
                &:hover
                    cursor: pointer