.our_lessons
    padding-top: 50px
    padding-bottom: 100px

    &-first-paragraf
        width: 80%
        font-size: 25px
        text-align: center
    &-second-paragraf
        padding-top: 25px
        h4 
            font-size: 45px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 0.78
            letter-spacing: normal
            text-align: center
            color: $green-color
        .block-alert-success
            margin: 0 auto
            margin-top: 30px
            padding-left: 60px
            padding-right: 60px
            width: 90%
            display: flex

            p
                width: 80%
                display: inline-block
                color: $dark-purple-color
                font-size: 24px
                text-align: center
                margin-left: 45px
            img
                display: inline-block     
                width: 147px
                height: 136px

    &-tree-paragraf
        width: 90%
        margin-top: 30px
        padding-left: 60px
        padding-right: 60px
        display: flex
        align-items: center
        p
            width: 80%
            display: inline-block
            font-size: 24px
            text-align: left
        img
            display: inline-block     
            width: 206px
            height: 208px 
            margin-left: 80px
    &-how-are-classes
        width: 100%
        margin-top: 30px
        .block-alert-light-grey
            width: 90%
            margin: 0 auto
            h4 
                text-align: center
                font-size: 40px
        .steps
            margin-top: 40px
            display: flex
            justify-content: space-between
            .step
                width: 30%
                display: inline-block
                &-header
                    width: 80%
                    margin: 0 auto
                    display: flex
                    justify-content: center
                    align-items: center
                    i   
                        font-size: 24px
                        font-weight: normal
                        text-align: center
                        line-height: 1
                        color: $dark-purple-color
                    span
                        font-family: Galpon-Black
                        font-size: 62px
                        font-weight: 900
                        text-align: center
                        color: #bcbec0
                &-img
                    display: block
                    margin: 0 auto
                    margin-top: 15px
                    width: 158px
                    height: 158px
                &-text
                    margin-top: 16px
                    text-align: center
                    line-height: 1
                    font-size: 24px
                    font-weight: normal
                    color: #414042

                &-dotes
                    margin-top: 11px
                    .dot
                        margin: 0 auto
                        margin-top: 4px
                        width: 15px
                        height: 15px
                        border-radius: 100%
                    .green
                        background-color: $green-color
                    .grey
                        background-color: $grey-color
    &-four-block
        margin-top: 40px
        width: 90%
        text-align: center
        &-blocks
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            &-one,
            &-two,
            &-tree
                width: 320px
                min-height: 315px
                text-align: center

            &-header
                width: 100%
                display: flex
                justify-content: center
                img
                    display: inline-block
                    width: auto
                    height: 70px
                    margin-right: 25px
                p 
                    display: inline-block
                    font-size: 24px
                    color: $dark-purple-color

            &-text
                span
                    font-size: 24px
                    color: $dark-purple-color
                p
                    font-size: 24px
                    font-weight: normal
                    font-stretch: normal
                    font-style: normal
                    line-height: 1
                    letter-spacing: normal
                button
                    font-size: 24px
                    padding: 14px
                    border-radius: 23px
        &-price
            margin: 0 auto
            margin-top: 35px
            display: flex
            max-width: 604px
            padding-top: 16px
            padding-bottom: 16px
            padding-left: 44px
            padding-right: 44px
            
            img 
                width: 54px
                height: 82px
            p 
                font-size: 24px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 1
                letter-spacing: 0.6px
                text-align: center
                color: $dark-purple-color
            span
                font-size: 30px
                font-weight: bold
                color: $dark-purple-color

        .btn-agent
            text-transform: uppercase
            text-align: center
            margin-top: 45px
            padding-top: 10px
            padding-bottom: 10px
            border-radius: 30px
            width: 268px
            height: 61px
            color: #fff
    &-online
        margin-top: 45px
        text-align: center
        h4 
            font-size: 45px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 0.67
            letter-spacing: normal
            text-align: center
            color: $green-color
            
        &-club
            max-width: 1100px
            margin: 0 auto
            margin-top: 20px
            padding: 40px 60px 20px 60px
            display: flex
            justify-content: space-around
            img
                display: inline-block
                width: 131px
                height: 107px
            p 
                display: inline-block
                font-size: 24px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 1.25
                letter-spacing: normal
                text-align: center
                color: $dark-purple-color
                a 
                    font-size: 24px
                    font-weight: bold
        &-access
            max-width: 900px
            margin: 0 auto
            margin-top: 30px
            display: flex
            justify-content: space-around
            align-items: center
            img 
                width: 182px
                height: 211px
            p 
                font-size: 30px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 1
                letter-spacing: normal
                text-align: left
                margin-right: 80px
        &-how-are-classes
            margin-top: 45px
            h4 
                font-size: 40px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 0.88
                letter-spacing: normal
                text-align: center
                color: #414042
            .wrapper-block
                display: flex
                justify-content: space-around
                align-items: start
                margin-top: 38px
                &-one,&-two,&-tree
                    width: 320px
                    min-height: 315px
                    text-align: center
                    .dot
                        margin: 0 auto
                        margin-top: 4px
                        width: 15px
                        height: 15px
                        border-radius: 100%
                    .green
                        background-color: $green-color
                    .grey
                        background-color: $grey-color
                    img
                        display: block
                        width: 158px
                        height: 158px
                        margin: 0 auto
                        margin-bottom: 15px
                    p 
                        display: block
                        margin-top: 16px
                        text-align: center
                        line-height: 1
                        font-size: 24px
                        font-weight: normal
                        color: #414042
        &-price
            margin: 0 auto
            margin-top: 35px
            display: flex
            max-width: 604px
            padding-top: 16px
            padding-bottom: 16px
            padding-left: 44px
            padding-right: 44px
            
            img 
                width: 54px
                height: 82px
            p 
                font-size: 24px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 1
                letter-spacing: 0.6px
                text-align: center
                color: $dark-purple-color
            span
                font-size: 30px
                font-weight: bold
                color: $dark-purple-color
        .btn-agent
            text-transform: uppercase
            text-align: center
            margin-top: 45px
            padding-top: 10px
            padding-bottom: 10px
            border-radius: 30px
            width: 268px
            height: 61px
            color: #fff

