.registration
    @extend %base-block-padding
    @extend %img-side-block
    padding-top: 30px
    padding-bottom: 30px
    min-height: 400px

    form
        @extend %shadow
        width: 300px
        margin: 0 auto
        padding: 20px
        border-radius: 15px
        h4
            font-size: 30px
        label
            font-size: 22px
        input
            font-size: 22px
            padding: 5px 15px
            border-radius: 10px
    &-remember-pass
        margin-top: 15px
        a 
            font-size: 22px
            