.group-sale
    @extend %base-block-padding
    .modal
        &-header
            border-bottom: 2px solid $dark-purple-color
        &-title
            font-size: 30px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            letter-spacing: normal
            text-align: center
            color: $purple-color
        .close
            span
                font-size: 30px
                color: $purple-color
        &-body
            p 
                display: block
                font-size: 22px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 0.76
                letter-spacing: 0.25px
                span
                    font-size: 24.5px
                    color: $purple-color
                select 
                    font-size: 22px
                    padding: 5px 15px
                    border-radius: 10px
                    border: 2px solid $purple-color
    .row
        display: flex
        justify-content: space-around
    &-block
        min-height: 300px
        padding: 15px 10px
        width: 370px
        border-radius: 20px
        margin-bottom: 15px
        @media only screen and ( max-width:  425px)
            width: 300px
            
        &:hover
            border: solid 6px $green-color
        &-header
            display: flex
            justify-content: space-around
            align-items: center
            &-img
                width: 57px
                height: 46px
                background-image: url("../img/bg/monitor-sale.png")
                background-repeat: no-repeat
                background-position: center
                p
                    display: block
                    margin: 0 auto
                    margin-top: 10px
                    font-family: "Galpon-Black"
                    font-size: 36.5px
                    font-weight: 900
                    font-stretch: normal
                    font-style: normal
                    line-height: 0.56
                    letter-spacing: 0.37px
                    text-align: center
                    color: $green-color
            &-text 
                p 
                    font-family: "Galpon-Black"
                    font-size: 42px
                    font-weight: 900
                    font-stretch: normal
                    font-style: normal
                    line-height: 0.54
                    letter-spacing: normal
                    text-align: center
                    color: $purple-color
                    margin-bottom: 0
        &-location

            width: 321px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 0.83
            letter-spacing: 0.24px
            text-align: center
            margin-top: 13px
            a 
                min-height: 21px
                font-size: 24px
                color: $green-color

            @media only screen and ( max-width:  425px)
                width: 270px
                

        &-free-place
            margin-top: 8px
            padding: 6px
            border-top: 1px solid $grey-color
            border-bottom: 1px solid $grey-color
            
            p 
                font-size: 24px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                line-height: 0.83
                letter-spacing: 0.24px
                text-align: center
                margin: 0
        &-date
            text-align: center
            &-weak-day
                font-size: 40px
                font-weight: normal
                font-stretch: normal
                font-style: normal
                letter-spacing: normal
                text-align: center
                color: $purple-color
                margin: 0
            &-month
                font-size: 30px
                color: $purple-color
                margin: 0
                padding: 1px
        &-teacher
            display: flex
            justify-content: center
            align-items: center
            &-fio
                button
                    font-size: 17px
                    font-weight: normal
                    font-stretch: normal
                    font-style: normal
                    line-height: 0.94
                    letter-spacing: normal
                    text-align: center
                    @media only screen and ( max-width:  425px)
                        min-width: 100px
                    span
                        font-size: 17px
                        color: $purple-color
                        text-transform: uppercase
            &-img
                width: 124px
                height: 118px
                background-image: url("../img/bg/lupa.png")
                background-repeat: no-repeat
                background-position: center
                position: relative
                @media only screen and ( max-width:  425px)
                    width: 90px
                    height: 87px
                    background-size: cover

                img
                    position: absolute
                    left: 50%
                    top: 5%
                    transform: translateX(-48%)
                    display: block
                    width: 105px
                    height: 105px
                    border-radius: 100%
                    @media only screen and ( max-width:  425px)
                        width: 80px
                        height: 80px
                        
        &-price
            margin-top: 20px
            font-size: 24.5px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 0.76
            letter-spacing: 0.25px
            text-align: center
        &-record
            text-align: center
            margin-top: 10px
        &-more
            text-align: center
            margin-top: 10px
            button
                color: $green-color
                border: none
                text-align: center
                text-decoration: none
                display: inline-block
                font-size: 24px
                //background-color: transparent
                background-color: $yellow-2-color
                &:hover
                    text-decoration: underline
                    transition: 2s
        &-info
            height: 90%
            font-size: 18px
            h4 
                text-align: center
            ul
                margin-left: 30px
                li 
                    list-style-type: none
                    &:before
                        content: '\2022'
                        color: $purple-color 
                        padding-right: 10px   